node_modules/
dist/
build/
*.db
*.db-journal
*.db-wal
*.db-shm
backend/data/uploads/
.env
.env.*
VERCEL_ENV_SETUP.md
.DS_Store
*.jks
key.properties
Kantinku.apk
.dart_tool/
.idea/
.vscode/
.vercel/
*.log
